<div class="find">
  <div class="split"></div>
  <div class="friend-circle content-list">
    <div class="inner">
      <a href="javascript:;">朋友圈</a>
    </div>
  </div>
  <div class="split"></div>
  <div class="onesweep content-list icon-font">
    <div class="inner">
      <a href="javascript:;">扫一扫</a>
    </div>
  </div>
  <div class="shark-it-off content-list icon-font">
    <div class="inner">
      <a href="javascript:;">摇一摇</a>
    </div>
  </div>
  <div class="split"></div>
  <div class="nearby content-list icon-font">
    <div class="inner">
      <a href="javascript:;">附近的人</a>
    </div>
  </div>
  <div class="split"></div>
  <div class="shopping content-list icon-font">
    <div class="inner">
      <a href="javascript:;">购物</a>
    </div>
  </div>
  <div class="game content-list">
    <div class="inner">
      <a href="javascript:;">游戏</a>
    </div>
  </div>
</div>
