<div class="myself">
  <div class="split"></div>
  <div class="my-message">
    <a href="javascript:;">
      <img src="./image/touxian.png" alt="">
      <span class="name">linlin</span>
      <div class="d2-code"></div>
    </a>
  </div>
  <div class="split"></div>
  <div class="inner photo-album">
    <a href="javascript:;">相册</a>
  </div>
  <div class="inner collect">
    <a href="javascript:;">收藏</a>
  </div>
  <div class="split"></div>
  <div class="inner wallet">
    <a href="javascript:;">钱包</a>
  </div>
  <div class="inner IthacaHours">
    <a href="javascript:;">卡券</a>
  </div>
  <div class="split"></div>
  <div class="inner expression">
    <a href="javascript:;">表情</a>
  </div>
  <div class="split"></div>
  <div class="inner set">
    <a href="javascript:;">设置</a>
  </div>
</div>
